/* Joel Gallegos, 2/21/2025*/

body { 
background-color: #F5EFE6; 
color: #4B3832
} 
header { 
background-color: #8B5E3B; 
color: #FFFFFF;
}
nav {
background-color: #D4A373
}
Main { 
background: #FFFFFF; 
}
footer { 
background-color: #8B5E3B; 
color: #FFFFFF;
}