/*
Name: Joel Gallegos
Date: Dec 7, 2025
*/


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  color: #333;
  font-size: 1em;
  background-color:midnightBlue; 
}


#wrapper {
  width: 80%;          
  margin: 0 auto;      
  background: #ffffff;
  border: 2px solid #2a3d66;
  padding: 8px;        
}


header {
  background: #004687; 
  color: white;
  padding: 1em;
  text-align: center;
  text-shadow: 5px 5px 10px BurlyWood;

}



nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 2%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

nav ul li a:hover {
  text-decoration: underline;
}


main {
  padding: 2%;
  line-height: 1.6em;
   box-shadow: 10px 10px 15px BurlyWood, -10px -10px 10px BurlyWood;
}


footer {
  background: #004687;
  color: white;
  text-align: center;
  padding: 0.5em;
  margin-top: 1em;
}


.flex-img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 6px;
  margin: 5px;
}

li{
	 list-style-image: url('marker.jpg') fixed;
	
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

form label {
  margin-top: 0.5em;
  font-size: 1em;
}

form input, form textarea, form select {
  padding: 0.5em;
  margin-top: 0.3em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

form input[type="submit"],
form input[type="reset"] {
  margin-top: 0.8em;
  padding: 0.6em;
  background: #004687;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background: #002d4d
  
}
  
  
  
  table {
  border: 2px solid #222;
  margin: auto;
  width: 80%;
  color: white;
}

th, td {
  border: 2px solid #222;
  padding: 0.5em;
  text-align: center;
}

.movie-title {
  text-align: left;
}

tr:nth-child(odd) {
  background-color:midnightblue;
}

tr:nth-child(even) {
  background-color: BurlyWood;
}



}


@media (min-width: 600px) and (max-width: 1024px) {
  #wrapper {
    width: 90%; 
  }
  nav ul li {
    margin: 0 3%;
  }
  main {
    font-size: 1.1em;
  }
}


@media (min-width: 1025px) {
  #wrapper {
    width: 70%;
  }
  nav ul li {
    margin: 0 4%;
  }
  main {
    font-size: 1.2em;
  }
}
